<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav>
	<div class="navbar navbar-expand-lg navbar-light">
		<span class="navbar-brand" [routerLink]="'/'">Efficient DM</span>
		<span class="nav-item" [routerLink]="'tokens/1'">
			<span class="nav-link">Tokens</span>
		</span>
		<span class="nav-item" [routerLink]="'monsters/1'">
			<span class="nav-link">Monsters</span>
		</span>
		<span class="nav-item" [routerLink]="'spells/1'">
			<span class="nav-link">Spells</span>
		</span>
		<span class="nav-item" [routerLink]="'/items/1'">
			<span class="nav-link">Items</span>
		</span>
	</div>
<router-outlet></router-outlet>

